.head-pic {
    width: 100%;
    height: 450px;
}

.head-pic img {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.container {
    margin-bottom: 100px;
}

.container .head {
    background-image: url(../images/bg.jpg);
    width: 97%;
    height: 280px;
}

.container .head .title {
    width: 85%;
    margin: auto;
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
}

.container .head .time {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}

.container .content {
    width: 70%;
    margin: 40px auto;
    font-size: 20px;
    text-indent: 2em;
    line-height: 1.8em;
}

.container .content .image {
    margin: 10px auto;
    text-align: center;
}

.container .content img {
    width: 600px;
}