.head-pic {
    width: 100%;
    height: 500px;
}

.head-pic img {
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.container {
    width: 1439px;
    margin-bottom: 100px;
}

.container .content1 {
    height: 660px;
    width: 100%;
    padding: 50px 0;
    padding-left: 80px;
    /* margin: 50px auto; */
}

.container .name {
    float: left;
    font-size: 55px;
    width: 56px;
    line-height: 1em;
}

.container .content1 .content {
    float: left;
    width: 1300px;
    height: 660px;
}

.container .content a {
    text-decoration: none;
    color: #000;
}

.container .content .article {
    display: inline-block;
    width: 350px;
    margin: 30px 35px;
}

.container .content1 .article .date {
    font-size: 20px;
    z-index: 10;
    position: absolute;
    background-color: #fff;
    padding: 10px 6px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.container .content1 .article .image {
    margin-left: 15px;
    margin-top: 20px;
    width: 350px;
    overflow: hidden;
    /* position: relative; */
}

.container .content1 .article .title {
    margin-left: 15px;
    width: 350px;
    font-size: 20px;
}

.container .content .article img {
    object-fit: cover;
    width: 350px;
    height: 200px;
    cursor: pointer;
    transition: all 0.6s;
}

.container .content img:hover {
    transform: scale(1.1);
}

.container .content2 {
    height: 400px;
    width: 100%;
    padding: 50px 0;
    padding-left: 80px;
    background-color: rgb(228, 228, 228);
}

.container .content2 .content {
    height: 400px;
}

.container .content2 .content .article {
    width: 360px;
    height: 130px;
    border-top: 1px solid black;
}

.container .content2 .content .article .title {
    float: left;
    width: 250px;
    padding: 20px 10px;
    font-size: 20px;
}

.container .content2 .content .article .date {
    float: right;
    width: 60px;
    font-size: 17px;
    padding: 23px 6px;
    text-align: center;
}

.container .content2 .content a:hover .article .title {
    /* color: rgb(0, 0, 163); */
    transform: scale(1.1);
    transition: .6s;
}

.container .content3 {
    margin: 80px auto;
    width: 100%;
    padding-left: 80px;
    background-image: url(../images/bg-jj.jpg);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

.container .content3 .content {
    display: inline-block;
    margin: 0 15px;
}

.container .content3 .name {
    width: 80px;
    font-size: 60px;
    float: none;
    text-align: center;
    margin: 20px auto;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.container .content3 a {
    text-decoration: none;
    color: #000;
}

.container .content3 .article {
    display: inline-block;
    width: 350px;
    margin: 30px 35px;
}

.container .content3 .article .image {
    margin-top: 20px;
    width: 350px;
    overflow: hidden;
    /* position: relative; */
}

.container .content3 .article img {
    object-fit: cover;
    width: 350px;
    height: 200px;
    cursor: pointer;
    transition: all 0.6s;
}

.container .content3 .article img:hover {
    transform: scale(1.1);
}

.container .content3 .article .title {
    font-size: 20px;
    margin: 10px 0;
}

.container .content3 .article .abstract {
    font-size: 13px;
}