.head-pic {
    width: 100%;
    height: 460px;
}

.head-pic img {
    object-fit: cover;
    width: 100%;
    height: 400px;
}

.container {
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
}

.container .content {
    margin-bottom: 30px;
}

.container .content .title {
    font-size: 40px;
    line-height: 2.5em;
    border-bottom: 1.5px solid black;
}

.container .content ul {
    list-style: none;
}

.container .content ul li {
    border-bottom: 1px solid rgb(201, 201, 201);
    font-size: 22px;
    line-height: 3em;
}

.container .content ul a {
    text-decoration: none;
    color: #000;
}

.container .content ul li:hover {
    box-shadow: 0 0 10px 0 gray;
    transition: .3s;
    padding-left: 10px;
}