.head-pic {
    width: 100%;
    height: 500px;
}

.head-pic img {
    object-fit: cover;
    width: 100%;
    height: 400px;
}

.head-pic .channer-info {
    position: absolute;
    width: 350px;
    height: 220px;
    top: 306px;
    left: 130px;
    background-color: rgb(156, 28, 44, 0.9);
    padding: 20px 40px;
}

.head-pic .channer-info h1 {
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 500;
}

.head-pic .channer-info hr {
    background-color: #fff;
    padding: 0;
}

.head-pic .channer-info .content {
    color: #fff;
    font-size: 18px;
    text-indent: 2em;
    line-height: 1.5em;
    margin-top: 20px;
}

.content1 {
    margin-bottom: 100px 0;
}

.content1 .title {
    float: left;
    font-size: 55px;
    width: 120px;
    line-height: 1.1em;
    margin-left: 80px;
    border-right: 2px solid black;
}

.content2 .title {
    float: left;
    font-size: 55px;
    width: 60px;
    line-height: 1.1em;
    margin-left: 140px;
    border-right: 2px solid black;
}

.content1 .text-container {
    width: 1000px;
    margin: auto;
    /* background-color: #fff; */
    padding: 10px 30px;
    padding-top: 50px;
}

.content2 .text-container {
    width: 1000px;
    margin: auto;
    /* background-color: #fff; */
    padding: 10px 30px;
    padding-top: 50px;
}

.content1 .text,
.content2 .text {
    text-indent: 2em;
    font-size: 20px;
    line-height: 1.8em;
}

.content1 .image {
    float: left;
    top: 750px;
    right: 0;
}

.content2 {
    margin: 80px 0;
    background-color: rgb(236, 236, 236);
    padding: 50px 0;
}

.content2 .image {
    float: left;
    top: 750px;
    right: 0;
}